# cache folders
savefile/
var/
auto-save-list/
backups/
/elpa-*

custom.el
SessionDesktop.el

# desktop
.emacs.desktop
.emacs.desktop.lock

# projectile
projectile-bookmarks.eld
projectile.cache

smex-items
.mc-lists.el
